        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            font-size: 62.5%;
        }
        
        body {
            background: rgb(44, 44, 44);
        }
        
        header {
            /* width: 90%; */
            /* margin: auto; */
            position: relative;
        }
        
        header nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        nav {
            margin-top: 1rem;
        }
        
        nav ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
        
        nav ul li a {
            text-decoration: none;
            color: white;
        }
        
        a {
            position: relative;
            left: 5%;
        }
        
        nav ul li {
            position: relative;
            right: 30%;
            margin-left: 2rem;
            font-size: 1.4rem;
        }
        
        nav h1 {
            position: absolute;
            left: 15%;
            color: white;
            font-size: 2rem;
        }
        
        #search {
            position: absolute;
            left: 73%;
        }
        /* search section */
        
        .search {
            background: rgb(32, 32, 32);
            min-height: 20vh;
            margin-top: 1rem;
            position: relative;
        }
        
        .search h2 {
            position: absolute;
            left: 33.3%;
            top: 10%;
            font-size: 3rem;
            color: white;
        }
        
        .search input {
            position: absolute;
            top: 40%;
            left: 33%;
            width: 50rem;
            height: 3rem;
            font-size: 2rem;
            border-radius: 0.2rem;
        }
        
        .search button {
            position: absolute;
            left: 67%;
            top: 40%;
            font-size: 1.5rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 0.5rem;
        }
        
        .content {
            width: 90%;
            margin: auto;
            height: 100%;
            /* background: black; */
            /* grid-template-rows:; */
        }
        
        .content h1 {
            text-align: center;
            padding-top: 3rem;
            color: rgb(40, 189, 10);
            font-size: 2.2rem;
        }
        
        .icons {
            margin-top: 5rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            /* justify-content: space-evenly; */
            margin-left: 5rem;
            text-align: center;
            position: relative;
        }
        
        .icon {
            position: relative;
            width: 23.2rem;
            height: 36rem;
            margin: 3rem;
            margin-top: 4rem;
        }
        
        .icon:hover img {
            opacity: 0.2;
            transition: 0.2s;
        }
        /* #logo {
    border: 1rem solid white;
} */
        
        .img {
            border: 0.5rem solid white;
            width: 25rem;
            height: 36.9rem;
        }
        
        .img:hover {
            border: 0.5rem solid rgb(0, 255, 128);
            transition: 0.3s;
        }
        
        .img img {
            width: 24.2rem;
            height: 36rem;
            background-size: cover;
        }
        
        .text h2 {
            position: absolute;
            top: 45%;
            left: 35%;
            font-size: 3rem;
            color: rgb(255, 255, 255);
            opacity: 0;
        }
        
        .text button {
            position: absolute;
            top: 60%;
            left: 28%;
            font-size: 1.8rem;
            padding: 0.5rem 0.8rem 0.5rem 0.8rem;
            border-radius: 0.2rem;
            opacity: 0;
            color: white;
            font-weight: bold;
            background: rgb(5, 190, 15);
        }
        
        h3 {
            color: aliceblue;
            font-size: 1.8rem;
            padding-top: 1rem;
            position: relative;
            right: 20%;
        }
        
        h4 {
            color: rgb(155, 155, 155);
            padding-top: 0.5rem;
            position: relative;
            right: 40%;
            font-size: 1.2rem;
        }
        
        .img:hover .text button {
            opacity: 1;
            animation: buttonmoveup 0.5s ease-in-out;
        }
        
        .img:hover .text h2 {
            opacity: 1;
            transition: 0.5s ease-in-out;
        }
        
        @keyframes buttonmoveup {
            from {
                top: 90%;
                opacity: 0;
            }
            to {
                top: 60%;
                opacity: 1;
            }
        }
        
        footer {
            height: 10vh;
            background: #171717;
            margin-top: 5rem;
        }
        
        footer h3 {
            font-size: 2rem;
            color: white;
            text-align: center;
            padding-top: 3rem;
        }
        
        footer a {
            color: rgb(131, 128, 128);
            font-size: 1.5rem;
            text-decoration: none;
            padding-top: 1.8rem;
        }
        
        footer:hover a {
            color: white;
        }